.user-info
    header.user-info__top
        .user-info__row
            .user-info__cell#userFirstName
            .user-info__cell#userLastName
        .user-info__row
            .user-info__cell='email:'
            .user-info__cell#userEmail
        .user-info__row
            .user-info__cell='phone:'
            .user-info__cell#userPhone
        .user-info__row
            .user-info__cell#userAddress
    footer.user-info__bottom
        include ../UserState/UserState