// colors:
$bodyBackground: #F1F1F1;
$blockBackground: #FFFFFF;
$primaryBlack: #000000;
$linkColor: #9191FF;
$primaryBorderColor: #E5E5E5;
$secondaryTextColor: #C4C4C4;
$accentColor: #FF0000;

// other:
$boxShadowBlock: 1px 1px 4px rgba(0, 0, 0, 0.25);
$blockBorder: 1px solid #E5E5E5;

// screen-sizes:
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;